button {
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 30px 0px;
  padding: 16px;
  background: #7c7cf6;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1 !important;
  }
}

.sign-in {
  background-color: linear-gradient(
    0deg,
    rgba(60, 79, 136, 1) 0%,
    rgba(2, 2, 38, 1) 100%
  );
}

.sign-up {
  background-color: red;
}

.edit {
  margin: 0px !important;
  padding: 10px !important;
  background-color: orange !important;
}
