main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 260px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  background: rgba(102, 102, 102, 0.363);
  height: 100vh;
  .success {
    color: green;
    font-size: 18px;
    margin-bottom: 15px;
  }
  form {
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    width: 60%;
    text-align: center;

    .menu-btn {
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      cursor: pointer;
      .burger-btn {
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background: rgb(125, 125, 125);
          border-radius: 4px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          top: 0;
          left: 0;
          transform: rotate(45deg) translate(3px, 0px);
          transform-origin: 0%;
        }

        &::after {
          bottom: 0;
          left: 0;
          transform: rotate(-45deg) translate(4px, 0px);
          transform-origin: 0%;
        }
      }
    }

    .input-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input {
        width: 60%;
      }

      .button {
        width: 35%;
      }
    }

    ::ng-deep {
      input {
        font-size: 14px !important;
        padding: 4px 5px 4px 10px !important;
        margin-bottom: 10px !important;
      }

      label {
        color: #555555;
        display: block !important;
        font-size: 14px !important;
        margin-bottom: 5px !important;
        text-align: start !important;
      }
    }

    .invalid {
      ::ng-deep {
        input,
        select {
          border: 1.5px solid red;
        }
      }
    }
  }
}
