.form-input {
  label {
    display: inline-block;
    color: rgb(85, 85, 85);
    font-size: 20px;
    margin-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
    padding: 8px 5px 8px 20px;
    border: 1.5px solid #b8e0ff;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    &:focus-visible {
      outline: none;
    }
    &:focus {
      border-color: #008fff;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

.ng-invalid {
  border: 1.5px solid red !important;
}
