<main>
  <section>
    <p *ngIf="error" class="error">Username or Password is Incorrect</p>
    <form [formGroup]="signInform">
      <h1>Sign In</h1>
      <app-input
        formControlName="userName"
        label="User Name"
        inputType="userName"
        inputId="userName"
        [control]="signInform.get('userName')"
      ></app-input>

      <app-input
        formControlName="password"
        label="Password"
        inputType="password"
        inputId="password"
        [control]="signInform.get('password')"
      ></app-input>
      <app-button (click)="signIn()" buttonClass="sign-in">Sign-in</app-button>
    </form>
  </section>
</main>
